{% extends "base.html.twig" %}

{# Override some default blocks #}
{% form_theme memberForm _self %}

{# Title #}
{% block title %}Add Member{% endblock %}

{# Content #}
{% block content %}
	<h1 class="heading main-heading heading-new-member">Add member</h1>
	<div id="new-member" class="new-member">
		{# Global form errors #}
		{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.vars.errors} only %}

		{{ form_start(memberForm, {
			'attr': {'class': 'form form-new-member'}
		})}}

			{# Photo #}
			<div class="form-group image">
				<div class="form-label">Photo</div>
				<div class="image-input-container">
					<div class="image-preview">
						<img
							src="{{ asset('build/images/placeholder-user-profile.png') }}"
							alt="Image Preview"
							class="image-preview-img"
						>
					</div>
					{{ form_widget(memberForm.photoFile, {
						'attr': {'class': 'form-input hidden'}
					})}}
					<label for="{{ memberForm.photoFile.vars.id }}" class="form-file-placeholder">
						<span class="form-file-browse">Upload file</span>
						<span class="form-file-name">No file selected.</span>
					</label>
				</div>
				{{ form_help(memberForm.photoFile, {
					'help_attr': {'class': 'form-help'}
				})}}
				{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.photoFile.vars.errors} only %}
			</div>

			{# First Name #}
			<div class="form-group first-name">
				{{ form_label(memberForm.firstName, 'First Name *', {
					'label_attr': {'class': 'form-label'}
				})}}
				{{ form_widget(memberForm.firstName, {
					'attr': {'class': 'form-input'}
				})}}
				{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.firstName.vars.errors} only %}
			</div>

			{# Last Name #}
			<div class="form-group last-name">
				{{ form_label(memberForm.lastName, 'Last Name *', {
					'label_attr': {'class': 'form-label'}
				})}}
				{{ form_widget(memberForm.lastName, {
					'attr': {'class': 'form-input'}
				})}}
				{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.lastName.vars.errors} only %}
			</div>

			{# Date of Birth #}
			<div class="form-group date-of-birth">
				{{ form_label(memberForm.dateOfBirth, 'Date of Birth *', {
					'label_attr': {'class': 'form-label'}
				})}}
				{{ form_widget(memberForm.dateOfBirth, {
					'attr': {
						'class': 'form-input',
						'max': 'now'|date('Y-m-d'),
					}
				})}}
				{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.dateOfBirth.vars.errors} only %}
			</div>

			{# Gender #}
			<div class="form-group gender">
				<div class="form-label">Gender *</div>
				<div class="form-group-radio-options">
					{%- block choice_widget_expanded -%}
						{%- for child in memberForm.gender %}
							<div class="radio-group">
								{{- form_widget(child, {
									'attr': {'class': 'form-radio'}
								})-}}
								{{- form_label(child, child.vars.label, {
									'label_attr': {'class': 'form-label'}
								})-}}
							</div>
						{% endfor -%}
					{%- endblock choice_widget_expanded -%}
				</div>
				{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.gender.vars.errors} only %}
			</div>

			{# Email #}
			<div class="form-group email">
				{{ form_label(memberForm.email, 'Email', {
					'label_attr': {'class': 'form-label'}
				})}}
				{{ form_widget(memberForm.email, {
					'attr': {
						'class': 'form-input',
						'autocomplete': 'on',
					}
				})}}
				{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.email.vars.errors} only %}
			</div>

			{# Phone Number #}
			<div class="form-group phone-number">
				{{ form_label(memberForm.phoneNumber, 'Phone Number', {
					'label_attr': {'class': 'form-label'}
				})}}
				{{ form_widget(memberForm.phoneNumber, {
					'attr': {
						'class': 'form-input',
						'autocomplete': 'on',
						'pattern': "\\+?[1-9][0-9]{7,14}",
					}
				})}}
				{{ form_help(memberForm.phoneNumber, {
					'help_attr': {'class': 'form-help'}
				})}}
				{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.phoneNumber.vars.errors} only %}
			</div>

			{# PIN #}
			<div class="form-group pin">
				{{ form_label(memberForm.pin, 'PIN *', {
					'label_attr': {'class': 'form-label'}
				})}}
				{{ form_widget(memberForm.pin, {
					'attr': {
						'class': 'form-input',
						'min': '10000000000',
						'max': '99999999999',
						'maxlength': '11',
					}
				})}}
				{% include '_form/_errors.html.twig' with {'displayErrors': memberForm.pin.vars.errors} only %}
			</div>

			{# Submit Button #}
			<div class="form-group submit">
				{{ form_widget(memberForm.save, {
					'label': 'Add',
					'attr': {'class': 'button submit-btn'}
				})}}
			</div>

		{{ form_end(memberForm) }}
	</div>
{% endblock %}

