{# Override some default blocks #}
{% form_theme planDataForm _self %}

{# Global form errors #}
{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.vars.errors} only %}

{{ form_start(planDataForm, {
	'attr': {'class': 'form form-plan-data' ~ (planDataForm.vars.disabled ? ' disabled' : '')}
})}}

	{# Plan ID #}
	{% if planDataForm.id is defined %}
		<div class="form-group id">
			{{ form_label(planDataForm.id, 'Plan ID', {
				'label_attr': {'class': 'form-label'}
			})}}
			{{ form_widget(planDataForm.id, {
				'attr': {'class': 'form-input'}
			})}}
			{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.id.vars.errors} only %}
		</div>
	{% endif %}


	{# Name #}
	<div class="form-group name">
		{{ form_label(planDataForm.name, 'Name *', {
			'label_attr': {'class': 'form-label'}
		})}}
		{{ form_widget(planDataForm.name, {
			'attr': {'class': 'form-input'}
		})}}
		{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.name.vars.errors} only %}
	</div>

	{# Type #}
	<div class="form-group type">
		<div class="form-label">Type *</div>
		<div class="form-group-radio-options">
			{%- block _plan_data_form_type_choice_widget_expanded -%}
				{%- for child in planDataForm.type %}
					<div class="radio-group">
						{{- form_widget(child, {
							'attr': {'class': 'form-radio'}
						})-}}
						{{- form_label(child, child.vars.label, {
							'label_attr': {'class': 'form-label'}
						})-}}
					</div>
				{% endfor -%}
			{%- endblock _plan_data_form_type_choice_widget_expanded -%}
		</div>
		{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.type.vars.errors} only %}
	</div>

	{# Price (in euros) #}
	<div class="form-group price">
		{{ form_label(planDataForm.price, 'Price (in euros) *', {
			'label_attr': {'class': 'form-label'}
		})}}
		{{ form_widget(planDataForm.price, {
			'attr': {
				'class': 'form-input',
				'min': '0',
			}
		})}}
		<span class="input-tag">€</span>
		{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.price.vars.errors} only %}
	</div>

	{# Duration (in days) #}
	<div class="form-group duration">
		{{ form_label(planDataForm.durationInDays, 'Duration (in days) *', {
			'label_attr': {'class': 'form-label'}
		})}}
		{{ form_widget(planDataForm.durationInDays, {
			'attr': {
				'class': 'form-input',
				'min': '1',
			}
		})}}
		<span class="input-tag">day/s</span>
		{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.durationInDays.vars.errors} only %}
	</div>

	{# Allowed Visitations #}
	<div class="form-group allowed-visitations field-toggleable" data-toggle-field="set-visitations">
		<div class="form-label">Allowed Visitations *</div>
		<div class="form-group-radio-options">
			{%- block _plan_data_form_are_visitations_limited_choice_widget_expanded -%}
				{%- for child in planDataForm.areVisitationsLimited %}
					<div class="radio-group">
						{{- form_widget(child, {
							'attr': {'class': 'form-radio'}
						})-}}
						{{- form_label(child, child.vars.label, {
							'label_attr': {'class': 'form-label'}
						})-}}
					</div>
				{% endfor -%}
			{%- endblock _plan_data_form_are_visitations_limited_choice_widget_expanded -%}
		</div>
		{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.areVisitationsLimited.vars.errors} only %}
	</div>

	{# Number of Allowed Visitations per Time Period #}
	<div class="form-group set-visitations {{ planDataForm.areVisitationsLimited.vars.data ? '' : 'hide-field' }}">
		<div class="two-cols">
			{# Number of Allowed Visitations #}
			<div class="col-1 num-of-visitations">
				{{ form_label(planDataForm.numOfVisitations, 'Number of Allowed Visitations *', {
					'label_attr': {'class': 'form-label'}
				})}}
				<div class="form-input-wrapper">
					{{ form_widget(planDataForm.numOfVisitations, {
						'attr': {
							'class': 'form-input',
							'min': '1',
						}
					})}}
					<span class="input-tag">time/s</span>
				</div>
				{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.numOfVisitations.vars.errors} only %}
			</div>

			{# Time Period #}
			<div class="col-2 time-period">
				{{ form_label(planDataForm.timePeriod, 'Time Period *', {
					'label_attr': {'class': 'form-label'}
				})}}
				<div class="form-select-dropdown-border">
					{{ form_widget(planDataForm.timePeriod, {
						'attr': {'class': 'form-select'}
					})}}
				</div>
				{% include '_form/_errors.html.twig' with {'displayErrors': planDataForm.timePeriod.vars.errors} only %}
			</div>
		</div>
		<div class="total-visitations">
			<span class="total-visitations-label">Total visitations in plan duration:</span>
			<span class="total-visitations-value">0 times</span>
		</div>
	</div>

	{# Submit Button #}
	{% if planDataForm.save is defined %}
		<div class="form-group submit">
			{{ form_widget(planDataForm.save, {
				'label': planDataForm.id is defined ? 'Update' : 'Save',
				'attr': {'class': 'button submit-btn'}
			})}}
		</div>
	{% endif %}

{{ form_end(planDataForm) }}
