<!DOCTYPE html>
<html lang="en">
<head>
	{# Charset #}
	<meta charset="UTF-8">

	{# Responsive #}
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	{# Remove IE's ability to use compatibility mode #}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{# Disable phone formatting on safari #}
	<meta name="format-detection" content="telephone=no">

	{# Website can be treated as app on phones #}
	<meta name="mobile-web-app-capable" content="yes">

	{# Favicon #}
	<link rel="icon" type="image/x-icon" href="{{ asset('build/images/test-image.png') }}">

	{# Mechanism for easily creating animated transitions between different website views #}
	<meta name="view-transition" content="same-origin">

	{# Title #}
 	<title>{% block title %}Index{% endblock %}</title>

	{# Head (SEO, analytics and other...) #}
	{% block head %}{% endblock %}

	{# Styles #}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
</head>

<body>
	{# Header #}
	{{ include('_header.html.twig') }}

	{# Main #}
	<main id="site-content" class="site-content">
		<div id="app" class="app">
			<div id="app-inner" class="app-inner">
				{# Sidebar #}
				{{ include('_sidebar.html.twig') }}

				{# Content #}
				<section id="dynamic-content" class="dynamic-content large-column">
					{% block content %}
						<h1 class="heading heading-base">Base</h1>
					{% endblock %}
				</section>
			</div>
		</div>
	</main>

	{# Footer #}
	{{ include('_footer.html.twig') }}

	{# Scripts #}
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</body>
</html>
